.nav-bar {
    @include display-flex;
    align-items: center;
    padding: 0 50px;
    background-color: $accent-color;

    a {
        text-decoration: none;
        display: block;
    }

    ul {
        @include list-reset;
        list-style: none;
    }
}

.main-nav-items {
    display: inline-block;

    a {
        display: inline-block;
        padding: 0 15px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        line-height: 44px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        @include transition;

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: $main-color;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: none;
        }
        &:hover:before {
            display: inline-block;
        }
    }
}

.logo {
    padding: 11px 0 13px;
    margin: auto;
}

.social-network {
    @include display-flex;
}

.social-network-list {
    margin-right: 40px;

    a {
        @include display-flex;
        align-items: center;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 44px;

        .number {
            color: #ffffff;
            font-family: "Open Sans", serif;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
            padding-left: 15px;
        }
    }
}

.first-bg {
    background: url('../images/main-banner.jpg') bottom center no-repeat;
    background-size: cover;
}

.second-bg {
    background: url('../images/main-banner-guitar-player.jpg') bottom center no-repeat;
    background-size: cover;
}

.third-bg {
    background: url('../images/main-banner-concert.jpg') bottom center no-repeat;
    background-size: cover;
}

.main-banner {
    text-align: center;
    padding: 208px 0 174px;
    border-bottom: 3px solid #d3d3d3;
    box-sizing: border-box;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 70%;
        height: 3px;
        background-color: #df001f;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: -3px;
    }
}

h1 {
    padding-bottom: 90px;
}

