.ticket-buy {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: $main-color;
    color: $accent-color;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.discover-more {
    width: 200px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: $accent-color;
    color: $main-color;
    border-radius: 25px;
}

.learn-more {
    width: 160px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: $main-color;
    color: $accent-color;
    border-radius: 25px;
}

.close-popup {
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: $main-color;
    color: $accent-color;
    border: 2px solid $text-color;
    border-radius: 25px;
}

.concert {

    .ticket-buy {
        width: 190px;
        background-color: $accent-color;
        color: $main-color;
        box-shadow: none;
    }
}

.small-button {
    margin: 5px;
    display: inline-block;
    border: 2px inset transparent;

    a {
        @include display-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        text-decoration: none;
        background-color: $accent-color;
        color: $main-color;
    }
}

.button, .small-button {
    @include transition;
}

.small-button:hover {
    border: 2px inset #c3c3c3;
}

.button:hover {
    box-shadow: 0 0 20px #333333 inset;
}

.info a:hover {
    @include transition;
    opacity: 0.8;
}

.social-network-list:hover,
.social-person-list:hover {
    @include transition;
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
