@font-face {
    font-family: "Myriad";
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad";
    src: url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: $text-font;
}

.button {
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-family: $caption;
    font-size: 116px;
    font-weight: 700;
    line-height: 116px;
    color: $accent-color;
    text-transform: uppercase;

    .decorative-text {
        font-family: $decorative-text;
        font-size: 80px;
        font-weight: 400;
        line-height: 120px;
        color: $text-color;
        text-transform: capitalize;
    }
}

h2 {
    font-family: $caption;
    font-size: 32px;
    font-weight: 400;
    color: $text-color;
    text-transform: uppercase;

    .decorative-text {
        font-family: $decorative-text;
        color: $accent-color;
        text-transform: capitalize;
    }
}

.member, .name {
    color: $main-color;

    h4 {
        font-family: $caption;
        font-size: 22px;
        font-weight: 400;
    }

    span {
        font-family: $text-font;
        font-size: 16px;
    }
}

.concert {

    .over-poster {
        color: $main-color;
        font-family: $caption;
        font-weight: 700;
        font-size: 45px;
        letter-spacing: 2px;

        span {
            font-size: 32px;
            letter-spacing: 3px;
        }
    }
}

.poster-description {
    color: $text-color;

    h3 {
        font-family: $caption;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
    }

    table {
        font-family: $text-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
}

.history {
    color: $main-color;

    h3 {
        font-family: $caption;
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
    }

    p {
        font-family: $caption;
        font-size: 22px;
        font-weight: 400;

        span {
            font-family: $decorative-text;
            font-size: 65px;
        }
    }
}

.download {
    color: $main-color;

    h3 {
        font-family: $caption;
        font-size: 32px;
        font-weight: 500;
        line-height: 62px;
        text-transform: capitalize;
    }

    p {
        font-family: $text-font;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 1px;
    }
}

footer {
    font-size: 15px;
    font-weight: 400;

    .foot-nav {
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }

    span {
        font-family: $decorative-text;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.4px;
    }
}

