//Colors
$accent-color: #df001f;
$main-color: #ffffff;
$text-color: #3c3c3c;
//Typography
$text-font: 'Droid Sans', sans-serif;
$caption: 'Oswald', sans-serif;
$decorative-text: 'Great Vibes', cursive;
